---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getTags } from '@/utils'
const tags = await getTags()
---

<head>
	<meta name='robots' content='noindex, nofollow' />
</head>
<BaseLayout title='404 - Página no encontrada'>
	<TitlePage title='¡Oh no! 404 - Página no encontrada' />

	<p>
		¡Ups! Parece que te has perdido. No te preocupes, hasta los mejores exploradores se pierden a
		veces.
	</p>
	<img src='https://midu.dev/images/this-is-fine-404.gif' alt='This is fine' class='w-full' />
</BaseLayout>
